[submodule "ospf-cpp-base"]
	path = ospf-cpp-base
	url = https://github.com/fuookami/ospf-cpp-base.git
[submodule "ospf-cpp-math"]
	path = ospf-cpp-math
	url = https://github.com/fuookami/ospf-cpp-math.git
[submodule "ospf-cpp-physics"]
	path = ospf-cpp-physics
	url = https://github.com/fuookami/ospf-cpp-physics.git
[submodule "3rd-party/magic_enum"]
	path = 3rd-party/magic_enum
	url = https://github.com/Neargye/magic_enum.git
